.modal-custom-wrap{
	display: none;
	z-index: 999;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,.7);
}
.modal-custom {
	z-index: 1050;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: 0;
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
.modal-custom-head{
	width: 100%;
	height: 40px;
	/*border-bottom: 1px solid #eee;*/
}
.modal-custom .close{
	float: right;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
}
.modal-custom-main{
	padding: 10px 10px;
}
.modal-custom-main-title{
	padding: 10px 0;
	width:100%;
	height:24px;
	font-size:24px;
	font-weight:bold;
	color:rgba(0,0,0,1);
	line-height:24px;
	letter-spacing:1px;
	text-align: center;
}
.modal-custom-main-step{
	padding: 20px 0;
	width:100%;
	height:30px;
	color:rgba(0,0,0,.35);
	font-size:12px;
	font-weight:400;
	line-height:18px;
}
.modal-custom-main-step .step-start{
	margin-right: 4px;
	position: relative;
	display: block;
	float: left;
	padding: 0 32px;
	font-size: 14px;
	margin-top: 6px;
}
.modal-custom-main-step .modal-step-col{
	float: left;
	margin-right: 4px;
	position: relative;
	display: inline-block;
	border-bottom: 2px solid #E9E9E9;
	padding-right: 20px;
	padding-bottom: 5px;
}
.modal-custom-main-step .step-start.active{
	color: #D0282E;
}
.modal-custom-main-step .modal-step-col.active{
	border-bottom: 2px solid #D0282E;
	color: #D0282E;
}
.modal-custom-main-step .step-start:after,
.modal-custom-main-step .modal-step-col:after{
	content: "";
	position: absolute;
	right: -8px;
	bottom: -4px;
	width:8px;
	height:8px;
	background:#BFBFBF;
	border-radius: 50%;
	z-index: 999;
}
.modal-custom-main-step .step-end:after{
	display: none;
}
.modal-custom-main-step .step-start.active:after,
.modal-custom-main-step .modal-step-col.active:after{
	background:rgba(208,40,46,1);
}



.modal-custom-bar{
	width: 100%;
	height: 32px;
}
.modal-custom-btn{
	float: left;
	margin-right: 16px;
	padding: 0 16px;
	height:32px;
	border:1px solid rgba(217,217,217,1);
	font-size:14px;
	font-weight:400;
	color:rgba(0,0,0,1);
	line-height:32px;
	text-align: center;
	cursor: pointer;
}
.modal-custom-btn.red{
	background:rgba(208,40,46,1);
	border:1px solid rgba(208,40,46,1);
	color: #fff;
}

.modal-custom-tab{
	margin: 15px 0;
	width: 100%;
	height: 54px;
}
.modal-custom-tab-item{
	float: left;
	width: 345px;
	height:52px;
	line-height: 52px;
	border:1px solid rgba(217,217,217,1);
	font-size:16px;
	font-weight:500;
	color:rgba(36,41,255,1);
	text-align: center;
	cursor: pointer;
}

.modal-custom-content{
	margin: 10px 0;
	width: 100%;
	/*height: 590px;*/
	overflow-x: auto;
	overflow-y: auto;
}
.modal-custom-content td,
.modal-custom-content th{
	text-align:center;
}
.modal-custom-page{
	width: 100%;
	height: 40px;
	background: #fbbebe;
}

.modal-custom-info1{
	padding: 0 40px;
}
.modal-custom-info1 p{
	text-indent: 28px;
}
.modal-custom-info1-file{
	overflow: hidden;
	margin-top: 30px;
	padding: 0 40px;
}
.modal-custom-info1-file-l{
	width: 50px;
	float: left;
}
.modal-custom-info1-file-r{
	float: left;
}
.modal-custom-info1-file-item span{
	display: inline-block;
}
.modal-custom-info1-file-item span,
.modal-custom-info1-file-item a{
	padding-right: 15px;
}

.modal-custom-info1-bottom{
	width: 100%;
	height: 32px;
}
.modal-custom-info1-btn{
	float: right;
	margin-right: 16px;
	width:90px;
	height:32px;
	border:1px solid rgba(217,217,217,1);
	font-size:14px;
	font-weight:400;
	color:rgba(0,0,0,1);
	line-height:32px;
	text-align: center;
	cursor: pointer;
}
.modal-custom-info1-btn.red{
	background:rgba(208,40,46,1);
	border:1px solid rgba(208,40,46,1);
	color: #fff;
}


.modal-custom-info2{
	overflow: hidden;
	padding: 0 10px;
	color:rgba(0,0,0,.65);;
}
.modal-custom-info2-col{
	float: left;
	margin-right: 10px;
	font-size:14px;
	font-weight:400;
}

#modalInfo2 .modal-custom{
	width: 1020px;
	height: 606px;
	margin-left: -480px;
	margin-top: -303px;
}
#modalInfo2 .modal-custom-content{
	height: 400px;
}
.modal-custom-info2-row{
	overflow: hidden;
	padding: 10px 0;
	line-height: 22px;
}
.modal-custom-info2-key{
	text-align: right;
	display: block;
	float: left;
}
.modal-custom-info2-value{
	display: block;
	float: left;
	text-align: left;
}
.modal-custom-info2-col1{
	width: 365px;
}
.modal-custom-info2-col1 .modal-custom-info2-key{
	width: 140px;
}
.modal-custom-info2-col1 .modal-custom-info2-value{
	width: 220px;
}

.modal-custom-info2-col2{
	width: 285px;
}
.modal-custom-info2-col2 .modal-custom-info2-key{
	width: 120px;
}
.modal-custom-info2-col2 .modal-custom-info2-value{
	width: 160px;
}

.modal-custom-info2-col3{
	width: 180px;
}
.modal-custom-info2-col3 .modal-custom-info2-key{
	width: 110px;
}
.modal-custom-info2-col3 .modal-custom-info2-value{
	width: 70px;
}

#modalSysSelf .modal-custom{
	width: 1200px;
	margin-left: -600px;
}
#modalSysSelf .modal-custom-tb-l{
	width: 356px;
	float: left;
}
#modalSysSelf .modal-custom-tb-c{
	width: 90px;
	float: left;
	padding-top: 120px;
}
#modalSysSelf .modal-custom-tb-r{
	width: 705px;
	float: left;
}
#modalSysSelf .accordion-heading, .table th{
	white-space: normal;
}
#modalSysSelf .tb-btn{
	height: 24px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}
#modalSysSelf .tb-jia{
	color: #D0282E;
}

#modalSysFirst .modal-custom{
	height: 540px;
	margin-top: -290px;
}
#modalSysFirst .modal-custom-content{
	height: 390px;
}

#modalSysPublic .modal-custom{
	height: 540px;
	margin-top: -290px;
}
#modalSysPublic .modal-custom-content{
	height: 390px;
}

#modalSysDepartment .modal-custom-content{
	height: 460px;
}


#modalAllPublic .modal-custom{
	height: 540px;
	margin-top: -290px;
}
#modalAllPublic .modal-custom-content{
	height: 360px;
}
#modalAllPublic .modal-custom-tb-l{
	width: 500px;
	height: 100%;
	float: left;
}
.modal-custom-tb-l #modalAllPublicEchart{
	width: 500px;
	height: 360px;
}
#modalAllPublic .modal-custom-tb-r{
	width: 550px;
	height: 360px;
	float: right;
	overflow-y: auto;
}
#modalAllPublic .accordion-heading, .table th{
	white-space: normal;
}